* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

/*STYLING FOR MAIN-CONTAINER*/
.main-container {
  display: flex;
}

/*STYLING FOR MAIN-NAV*/

.main-nav {
  width: 25vw;
  color: white;
}

.main-nav ul li {
  /* background-color: rgb(83, 15, 83); */
  padding: 1em;
}

/*STYLING FOR MOVIES*/
.movie {
  background-color: rgb(83, 15, 83);
}
.one {
  background-color: rgb(161, 125, 161);
  color: rgb(27, 27, 27);
}
]
img {
  width: 20vw;
}
